.navbar-magenta{
    background-color: rgb(177, 98, 114)!important;
    gap: 176px;
    
}

hr{
    color: rgb(177, 98, 114)!important;
}
.logo{
    width: 25%;
}
body{
    background: black;
    color: white;
}
.navbar-listado{
    list-style: none;
    display: block;
}
.S1{
    background-image: url(../Images/Alfajor.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    padding: 20px;
    opacity: .6;
}
.texto1{
    text-align: center;
    padding-left: 20px;
    margin-top: 4%;
    margin-bottom: 6%;
    
   
}
.texto2{
    
    padding-left: 20px;

}
.botonemail{
    background: black;
    color: white;
 }
 input{
    padding-left: 60px;
    margin-left: 200px;
 }
.container-footer{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 50px;
}
.footer-aling{
    display: flex;
    flex-direction: column;
}
.S2{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}
.card-img-top{
    width: 100%;
    height: 400px;

}
.card-container{
    width: 200px;
    height: auto;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin: 20px 20px;

}
.card-content{
    padding: 2px;
}

   
.card-content h3{
    font-size: 20px;
    text-align: center;
}
.S3{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.imgpag{
    width: 300px;
    height: auto;
}
.contenedor-pag{
    display: flex;
    justify-content: space-between;
    gap: 187px;
    margin-bottom: 50px;
}
.cash{
    text-align: center;
    color:pink
}
.cierre{
    text-align: center;
}